

body{
    justify-content:center;
    align-items:center;
    background:rgb(139, 199, 191);
  }
  .container1{
    position: relative;
    width: 1400px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 30px;
   }
  .container1 .cont{
    position: relative;
    max-width: 800px;
    height:420px;
    width:800px;
    background:rgba(245, 245, 245, 0.938);
    padding:20px 15px;
    margin:30px 10px;
    display:flex;
   flex-direction: column;
   box-shadow: 5px 5px 202px rgba(26, 26, 29, 0.6);
   
  }
  .container1 .cont:hover{
    height:500px;
  }
  .container1 .cont .vidbx{
    position: relative;
    width: 460px;
    height: 460px;
    top:-30px;
    left:20px;
    z-index:1;
  
    filter: drop-shadow(6px 5px 6px rgb(18, 20, 44));
  }
  .container1 .cont .vidbx video{
  max-width: 100%;
  }
  .container1 .cont .content{
  position: relative;
  margin-top: -140px;
  padding:10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in;
  }
  .container1 .cont:hover .content{
    visibility: visible;
    opacity:1;
    margin-top: -10px;
    transition-delay: 0.5s ease-in;
  } 